<?xml version="1.0"?>
<menu>
  <items>
    <add name="IPSetting" text="IPSetting"  action="Index" controller="TextContent" area="Contents"  visible="true"  initializer="Kooboo.CMS.Toolkit.Modules.ModuleMenuItemInitializer, Kooboo.CMS.Toolkit" >
      <routeValues folderName="IPSetting"  moduleRepositoryName2="IPFilter"/>
    </add>
    <add name="IPList" text="IPList"  action="Index" controller="TextContent" area="Contents"  visible="true"  initializer="Kooboo.CMS.Toolkit.Modules.ModuleMenuItemInitializer, Kooboo.CMS.Toolkit" >
      <routeValues folderName="IPList"  moduleRepositoryName2="IPFilter"/>
    </add>
  </items>
</menu>