<?xml version="1.0"?>
<menu>
  <items>
    <add name="Settings" text="Settings"  action="Index" controller="Settings" area="IPFilter">
    </add>
    <add name="Manage IP" text="Manage IP"  action="Index" controller="TextContent" area="Contents" initializer="Leon.Modules.IPFilter.ModuleMenuItemInitializer, Leon.Modules.IPFilter" >
      <routeValues folderName="IPList"  moduleName="IPFilter"/>
    </add>
  </items>
</menu>