<?xml version="1.0"?>
<menu>
  <items>
    <add name="Settings" text="Settings" action="Index" controller="Admin" visible="true" role="administrators" >
      <!--<items>
        <add name="Initialize" text="Initialize" action="InitializeModule" controller="Admin" visible="true" ></add>
      </items>-->
    </add>
    <add name="Logs" text="Logs" action="Index" controller="Log" role="administrators" initializer="Kooboo.CMS.ModuleArea.Monitor.MonitorMenuItemInitializer,Kooboo.CMS.ModuleArea.Monitor">
      <items>
        <add name="ExceptionalLogs" text="Exceptional logs" action="Exceptional" controller="Log" role="administrators" initializer="Kooboo.CMS.ModuleArea.Monitor.MonitorMenuItemInitializer,Kooboo.CMS.ModuleArea.Monitor"></add>
        <add name="Statistics" text="Statistics" role="administrators" >
          <items>
            <add name="PV-UV" text="PV / UV" action="PVUV" controller="Log" role="administrators" initializer="Kooboo.CMS.ModuleArea.Monitor.MonitorMenuItemInitializer,Kooboo.CMS.ModuleArea.Monitor" ></add>
            <add name="Referrals" text="Referrals" action="Referrals" controller="Log" role="administrators" initializer="Kooboo.CMS.ModuleArea.Monitor.MonitorMenuItemInitializer,Kooboo.CMS.ModuleArea.Monitor" ></add>
            <add name="SearchEngine" text="Search engine" action="SearchEngine" controller="Log" role="administrators" initializer="Kooboo.CMS.ModuleArea.Monitor.MonitorMenuItemInitializer,Kooboo.CMS.ModuleArea.Monitor" ></add>
            <add name="Bot-BS" text="Bot / BS" action="BotBS" controller="Log" role="administrators" initializer="Kooboo.CMS.ModuleArea.Monitor.MonitorMenuItemInitializer,Kooboo.CMS.ModuleArea.Monitor" ></add>
          </items>
        </add>
      </items>
    </add>
    <add name="HealthCheck" text="Health check" action="Report" controller="Health" role="administrators" initializer="Kooboo.CMS.ModuleArea.Monitor.MonitorMenuItemInitializer,Kooboo.CMS.ModuleArea.Monitor">
      <items>
        <add name="CheckResult" text="Check result" action="Index" controller="Health" role="administrators" initializer="Kooboo.CMS.ModuleArea.Monitor.MonitorMenuItemInitializer,Kooboo.CMS.ModuleArea.Monitor"></add>
      </items>
    </add>
    <add name="HealthCheck2" text="Health2 check2" action="Index" controller="Health" role="administrators" initializer="Kooboo.CMS.ModuleArea.Monitor.MonitorMenuItemInitializer,Kooboo.CMS.ModuleArea.Monitor">
      <items>
        <add name="CheckResult" text="Check result" action="Index" controller="Health" role="administrators" initializer="Kooboo.CMS.ModuleArea.Monitor.MonitorMenuItemInitializer,Kooboo.CMS.ModuleArea.Monitor"></add>
      </items>
    </add>
  </items>
</menu>