<?xml version="1.0"?>
<menu>
  <items>
        <add name="GoogleAnalytics" text="Google analytics"   permissionName="GoogleAnalytics" action="index" controller="TextContent" area="Contents"   initializer="Kooboo.CMS.Toolkit.Modules.ModuleMenuItemInitializer, Kooboo.CMS.Toolkit"  >
          <routeValues moduleRepositoryName="Management" folderName="Setting~GoogleAnalytics" />
        </add>
        <!--<add name="PageMapping" text="Page mapping"   permissionName="PageMapping" action="index" controller="TextContent" area="Contents"    initializer="Kooboo.CMS.Toolkit.Modules.ModuleMenuItemInitializer, Kooboo.CMS.Toolkit" >
          <routeValues moduleRepositoryName="Management" folderName="Setting~PageMapping" />
        </add>-->
        <add name="Pixel" text="Pixel" permissionGroup="Yarden"    permissionName="Pixel" action="index" controller="TextFolder" area="Contents"    initializer="Kooboo.CMS.Toolkit.Modules.ModuleMenuItemInitializer, Kooboo.CMS.Toolkit" >
          <routeValues moduleRepositoryName="Management" folderName="Setting~Pixel" />
          <items>
            <add name="PixelPerPage" text="Per page" action="index" controller="TextContent" area="Contents"    initializer="Kooboo.CMS.Toolkit.Modules.ModuleMenuItemInitializer, Kooboo.CMS.Toolkit" >
              <routeValues moduleRepositoryName="Management" folderName="Setting~Pixel~PixelPerPage"/>
            </add>
            <add name="PixelPerLayout" text="Per layout" action="index" controller="TextContent" area="Contents"    initializer="Kooboo.CMS.Toolkit.Modules.ModuleMenuItemInitializer, Kooboo.CMS.Toolkit" >
              <routeValues moduleRepositoryName="Management" folderName="Setting~Pixel~PixelPerLayout"  />
            </add>
          </items>
        </add>
        <add name="SiteScript" text="Site scripts"   permissionName="SiteScript" action="index" controller="TextContent" area="Contents"    initializer="Kooboo.CMS.Toolkit.Modules.ModuleMenuItemInitializer, Kooboo.CMS.Toolkit" >
          <routeValues moduleRepositoryName="Management" folderName="Setting~SiteScript" />
        </add>
        <add name="APISetting" text="API settings" permissionName="APISetting" action="index" controller="TextContent" area="Contents"  initializer="Kooboo.CMS.Toolkit.Modules.ModuleMenuItemInitializer, Kooboo.CMS.Toolkit" >
          <routeValues moduleRepositoryName="Management" folderName="Setting~APISetting" />
        </add>
        <add name="CommonSetting" text="Common settings" permissionName="CommonSetting" action="index" controller="TextContent" area="Contents"  initializer="Kooboo.CMS.Toolkit.Modules.ModuleMenuItemInitializer, Kooboo.CMS.Toolkit" >
          <routeValues moduleRepositoryName="Management" folderName="Setting~Common" />
        </add>
      </items>
</menu>