<SqlServerSettings xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Content.Persistence.SqlServer">
	<Connections>
		<ConnectionSetting>
			<ConnectionString>Server=LYANG-PC\SQLEXPRESS;Database=Kooboo; User ID=sa;Password=1;</ConnectionString>
			<Name>DBConnectionString</Name>
		</ConnectionSetting>
	</Connections>
	<EnableLogging>false</EnableLogging>
	<SharingDatabaseConnectionString>Server=LYANG-PC\SQLEXPRESS;Database=Kooboo; User ID=sa;Password=1;</SharingDatabaseConnectionString>
</SqlServerSettings>