<?xml version="1.0" encoding="utf-8"?>
<Schema xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Content.Models">
	<Name>PixelPerLayout</Name>
	<Columns>
		<Column>
			<Name>Site</Name>
			<Label></Label>
			<DataType>String</DataType>
			<ControlType>Hidden</ControlType>
			<AllowNull>false</AllowNull>
			<Length>0</Length>
			<Order>1</Order>
			<Modifiable>true</Modifiable>
			<Indexable>true</Indexable>
			<ShowInGrid>false</ShowInGrid>
			<Tooltip i:nil="true" />
			<SelectionSource>ManuallyItems</SelectionSource>
			<SelectionItems xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<SelectionFolder i:nil="true" />
			<Validations xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<DefaultValue></DefaultValue>
			<Summarize>false</Summarize>
			<CustomSettings xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</Column>
		<Column>
			<Name>Layout</Name>
			<Label></Label>
			<DataType>String</DataType>
			<ControlType>DropDownList</ControlType>
			<AllowNull>false</AllowNull>
			<Length>0</Length>
			<Order>2</Order>
			<Modifiable>true</Modifiable>
			<Indexable>true</Indexable>
			<ShowInGrid>true</ShowInGrid>
			<Tooltip i:nil="true" />
			<SelectionSource>ManuallyItems</SelectionSource>
			<SelectionItems xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<SelectionFolder i:nil="true" />
			<Validations xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<DefaultValue></DefaultValue>
			<Summarize>true</Summarize>
			<CustomSettings xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</Column>
		<Column>
			<Name>Description</Name>
			<Label></Label>
			<DataType>String</DataType>
			<ControlType>TextBox</ControlType>
			<AllowNull>true</AllowNull>
			<Length>0</Length>
			<Order>3</Order>
			<Modifiable>true</Modifiable>
			<Indexable>true</Indexable>
			<ShowInGrid>true</ShowInGrid>
			<Tooltip i:nil="true" />
			<SelectionSource>ManuallyItems</SelectionSource>
			<SelectionItems xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<SelectionFolder i:nil="true" />
			<Validations xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<DefaultValue></DefaultValue>
			<Summarize>true</Summarize>
			<CustomSettings xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</Column>
		<Column>
			<Name>Code</Name>
			<Label></Label>
			<DataType>String</DataType>
			<ControlType>TextArea</ControlType>
			<AllowNull>true</AllowNull>
			<Length>0</Length>
			<Order>4</Order>
			<Modifiable>true</Modifiable>
			<Indexable>true</Indexable>
			<ShowInGrid>false</ShowInGrid>
			<Tooltip i:nil="true" />
			<SelectionSource>ManuallyItems</SelectionSource>
			<SelectionItems xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<SelectionFolder i:nil="true" />
			<Validations xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<DefaultValue></DefaultValue>
			<Summarize>false</Summarize>
			<CustomSettings xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</Column>
		<Column>
			<Name>StartDate</Name>
			<Label></Label>
			<DataType>DateTime</DataType>
			<ControlType>Date</ControlType>
			<AllowNull>true</AllowNull>
			<Length>0</Length>
			<Order>5</Order>
			<Modifiable>true</Modifiable>
			<Indexable>true</Indexable>
			<ShowInGrid>true</ShowInGrid>
			<Tooltip i:nil="true" />
			<SelectionSource>ManuallyItems</SelectionSource>
			<SelectionItems xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<SelectionFolder i:nil="true" />
			<Validations xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<DefaultValue>NULL</DefaultValue>
			<Summarize>false</Summarize>
			<CustomSettings xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</Column>
		<Column>
			<Name>StopDate</Name>
			<Label></Label>
			<DataType>DateTime</DataType>
			<ControlType>Date</ControlType>
			<AllowNull>true</AllowNull>
			<Length>0</Length>
			<Order>6</Order>
			<Modifiable>true</Modifiable>
			<Indexable>true</Indexable>
			<ShowInGrid>true</ShowInGrid>
			<Tooltip i:nil="true" />
			<SelectionSource>ManuallyItems</SelectionSource>
			<SelectionItems xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<SelectionFolder i:nil="true" />
			<Validations xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form" />
			<DefaultValue>NULL</DefaultValue>
			<Summarize>false</Summarize>
			<CustomSettings xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</Column>
		<Column>
			<Name>DisplayPosition</Name>
			<Label i:nil="true" />
			<DataType>String</DataType>
			<ControlType>DropDownList</ControlType>
			<AllowNull>true</AllowNull>
			<Length>0</Length>
			<Order>7</Order>
			<Modifiable>true</Modifiable>
			<Indexable>true</Indexable>
			<ShowInGrid>true</ShowInGrid>
			<Tooltip i:nil="true" />
			<SelectionSource>ManuallyItems</SelectionSource>
			<SelectionItems xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form">
				<d4p1:SelectListItem>
					<d4p1:Selected>false</d4p1:Selected>
					<d4p1:Text>Head</d4p1:Text>
					<d4p1:Value>1</d4p1:Value>
				</d4p1:SelectListItem>
				<d4p1:SelectListItem>
					<d4p1:Selected>false</d4p1:Selected>
					<d4p1:Text>Body_Start</d4p1:Text>
					<d4p1:Value>2</d4p1:Value>
				</d4p1:SelectListItem>
				<d4p1:SelectListItem>
					<d4p1:Selected>false</d4p1:Selected>
					<d4p1:Text>Body_End</d4p1:Text>
					<d4p1:Value>3</d4p1:Value>
				</d4p1:SelectListItem>
			</SelectionItems>
			<SelectionFolder i:nil="true" />
			<Validations xmlns:d4p1="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Form">
				<d4p1:ColumnValidation i:type="d4p1:RequiredValidation">
					<d4p1:ErrorMessage i:nil="true" />
				</d4p1:ColumnValidation>
			</Validations>
			<DefaultValue i:nil="true" />
			<Summarize>false</Summarize>
			<CustomSettings xmlns:d4p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
		</Column>
	</Columns>
	<TemplateBuildByMachine>true</TemplateBuildByMachine>
	<IsTreeStyle>false</IsTreeStyle>
</Schema>