<?xml version="1.0" encoding="utf-8"?>
<TextFolder xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.datacontract.org/2004/07/Kooboo.CMS.Content.Models">
	<Name>SiteSetting</Name>
	<DisplayName></DisplayName>
	<UtcCreationDate>2013-02-20T02:43:17.4612578Z</UtcCreationDate>
	<UserId i:nil="true" />
	<NamePaths xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays">
		<d2p1:string>Setting</d2p1:string>
    <d2p1:string>MobileSiteSetting</d2p1:string>
	</NamePaths>
	<SchemaName>Setting</SchemaName>
	<Categories i:nil="true" />
	<CategoryFolders xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
	<EmbeddedFolders xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<WorkflowName i:nil="true" />
	<Roles xmlns:d2p1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" i:nil="true" />
	<OrderSetting>
		<FieldName>UtcCreationDate</FieldName>
		<Direction>Descending</Direction>
	</OrderSetting>
	<VisibleOnSidebarMenu>true</VisibleOnSidebarMenu>
	<PageSize>50</PageSize>
</TextFolder>