<?xml version="1.0"?>
<menu>
  <items>
    <add name="Settings" text="Settings"  action="index" controller="TextContent" area="Contents"  visible="true"  initializer="Kooboo.CMS.Toolkit.Modules.ModuleMenuItemInitializer, Kooboo.CMS.Toolkit" >
      <routeValues folderName="IPSetting" />
    </add>
    <add name="IP" text="IP"  action="index" controller="TextContent" area="Contents"  visible="true"  initializer="Kooboo.CMS.Toolkit.Modules.ModuleMenuItemInitializer, Kooboo.CMS.Toolkit" >
      <routeValues folderName="IPList" />
    </add>
  </items>
</menu>