<?xml version="1.0"?>
<menu>
  <items>
    <add name="IPSetting" text="IPSetting"  action="index" controller="TextContent" area="Contents"  visible="true" >
      <routeValues folderName="IPSetting" />
    </add>
    <add name="IPList" text="IPList"  action="index" controller="TextContent" area="Contents"  visible="true" >
      <routeValues folderName="IPList" />
    </add>
  </items>
</menu>